##############################
# -------------------------- #
#                            #
# .gitignore for P2 projects #
#      Created in 2022       #
#                            #
# -------------------------- #
##############################

# -------------------------- #
#       IntelliJ files       #
# -------------------------- #

**/.idea
cmake-build-*/
*.iws
out/

# -------------------------- #
##############################
# -------------------------- #
#      Other IDE files       #
# -------------------------- #

*.iml
*.classpath
*.project
**/out/
**/bin/
**/.metadata/

# -------------------------- #
##############################
# -------------------------- #
#         Mac Files          #
# -------------------------- #

.DS_Store

# -------------------------- #
##############################
# -------------------------- #
#    Microsoft Documents     #
# -------------------------- #

*.xlsx
*.docx
*.pptx

# -------------------------- #
##############################
# -------------------------- #
#        LaTeX Files         #
# -------------------------- #

*.aux
*.log
*.out
*.gz
*.bbl
*.bcf
*.blg
*.synctex.gz
*.toc
*.xml
_minted*
*.pyc

# -------------------------- #
